.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  position: absolute;
  top: -50px;
  z-index: 1000;
}

.ground {
  position: relative;
  z-index: 100;
  height: 215px;
}

@media (max-width: 1200px) {
  .btn {
    display: none;
  }
}