@font-face {
  font-family: "Aeroport";
  src: url("../assets/fonts/Aeroport.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aeroport";
  src: url("../assets/fonts/Aeroport-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Aeroport";
  src: url("../assets/fonts/Aeroport-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aeroport";
  src: url("../assets/fonts/Aeroport-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Aeroport";
  src: url("../assets/fonts/Aeroport-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Aeroport";
  src: url("../assets/fonts/Aeroport-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Aeroport";
  src: url("../assets/fonts/Aeroport-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aeroport";
  src: url("../assets/fonts/Aeroport-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Aeroport Mono";
  src: url("../assets/fonts/AeroportMono.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
