.content {
  position: relative;
  flex-grow: 1;
  width: 100%;
  min-height: calc(100vh - 56px);
  background-image: url("@assets/images/backgrounds/game.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.avatar {
  position: absolute;
  width: 55px;
  height: 75px;
  bottom: 45px;
  right: 45px;
  z-index: 10000;
}

@media (max-width: 768px) {
  .content {
    min-height: calc(100vh - 56px);
  }
  
  .avatar {
    top: 20px;
    bottom: auto;
    right: 20px;
    width: 46px;
    height: 63px;
  }
}