.content {
  position: relative;
  flex-grow: 1;
  width: 100%;
  min-height: calc(100vh - 56px); /* Вычитаем высоту header */
  background-image: url("@assets/backgrounds/game.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.avatar {
  position: absolute;
  width: 120px;
  height: 120px;
  bottom: 45px;
  right: 45px;
  z-index: 10;
}

@media (max-width: 768px) {
  .content {
    min-height: calc(100vh - 56px);
  }
  
  .avatar {
    top: 20px;
    bottom: auto;
    right: 20px;
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 480px) {
  .avatar {
    width: 60px;
    height: 60px;
  }
}