.decorContainer {} 

.decor {
  position: absolute;
  z-index: 10;
}

/* Стили для деревьев элементов */
.tree1 {
  width: 270px;
  height: 372px;
  bottom: -45px;
  left: -85px;
}

.tree2 {
  width: 235px;
  height: 323px;
  bottom: -175px;
  left: 40%;
}

.tree3 {
  width: 150px;
  height: 206px;
  left: 68px;
  top: 20%;
}

.tree4 {
  width: 125px;
  height: 170px;
  top: -66px;
  left: 20%;
  opacity: 0.7;
}

.tree5 {
  width: 130px;
  height: 170px;
  right: -80px;
  top: 10%;
  opacity: 0.7;
}

/* Глобальный z-index для всех деревьев элементов */
.tree1, .tree2, .tree3, .tree4, .tree5 {
  z-index: 100;
}

/* Стили для кустов */
.bush1 {
  left: 15px;
  top: 50%;
}

.bush1_1 {
  right: 10%;
  top: 3%;
  z-index: 100;
}

.bush1_2 {
  right: 55px;
  top: 37%;
}

.bush2_1 {
  left: 68px;
  top: 40%;
}

.bush2_2 {
  width: 43px;
  height: 51px;
  left: 31%;
  top: 30%;
}

.bush2_3 {
  width: 43px;
  height: 42px;
  bottom: -15px;
  left: 30%
}

.bush2_4 {
  width: 33px;
  height: 33px;
  right: 31%;
  bottom: 30%;
}

.bush2_5 {
  width: 30px;
  height: 29px;
  right: 9%;
  bottom: 37%;
}

.bush2_6 {
  width: 43px;
  height: 42px;
  right: -20px;
  bottom: 20%;
}

.bush3_1 {
  top: 29%;
  left: 26%;
  z-index: 1;
}

.bush3_2 {
  top: -20px;
  right: 9%;
  z-index: 1;
}

.bush3_3 {
  left: 33%;
  bottom: 41%;
}

.bush4_1 {
  width: 36px;
  height: 29px;
  top: 7%;
  left: 29%;
}

.bush4_2 {
  width: 57px;
  height: 46px;
  top: 34%;
  left: 33%;
}

.bush4_3 {
  width: 40px;
  height: 32px;
  top: 16%;
  right: 17%;
}

.bush4_4 {
  width: 64px;
  height: 51px;
  top: 22%;
  right: 7%;
}

.bush4_5 {
  width: 64px;
  height: 51px;
  right: 31%;
  bottom: 39%;
}

.bush4_6 {
  width: 60px;
  height: 49px;
  right: 8%;
  bottom: 40%;
  z-index: 1;
}

.bush4_7 {
  width: 74px;
  height: 60px;
  bottom: 15%;
  left: 48%;
}

/* Адаптивные стили */
@media (max-width: 1400px) {
  .bush1, .bush2_2, .bush3_3, .bush4_2, .bush4_5 {
    display: none;
  }

  .tree3 {
    left: 0;
    top: 10%;
  }

  .tree2 {
    display: none;
  }
}

@media (max-width: 768px) {
  .tree1 {
    left: -60px;
    bottom: -140px;
  }

  .tree5 {
    right: -60px;
  }
}

@media (max-height: 768px) {
  .bush1_2 {
    right: 22px;
  }
  
  .bush3_1 {
    top: 25%;
    left: 28%;
  }

  .bush3_3 {
    bottom: 30%;
  }

  .tree3 {
    top: 5%;
  }

  .bush4_6 {
    right: 3%;
  }
}


@media (max-width: 620px) {
  .tree1 {
    left: -200px
  }

  .bush1 {
    left: 0
  }

  .bush1_2 {
    right: 5px;
    top: 30%;
  }

  .bush3_1 {
    top: 30%;
    left: 5%;
  }

  .bush4_6 {
    right: 0;
  }

  .tree3 {
    left: -70px;
    opacity: 0.7;
  }
}

@media (max-width: 468px) {
  .bush1 {
    top: 55%;
  }

  .bush4_6 {
    bottom: 30%;
  }
}